<div class="container">
  <div class="row"> 
    <div class="col-sm">
      <br/>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Contacts</h5>
          <p class="card-text">phone: 111-111-11-11 </p>
          <p class="card-text">e-mail: info@barbarshop.com </p>
          <p class="card-text">address: Gorky-12-11 </p>
        </div>
      </div>
      <div class="mb-3">
        <label for="validationTextarea">Textarea</label>
        <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Required example textarea" required></textarea>
        <div class="invalid-feedback">
          Please enter a message in the textarea.
        </div>
      </div>    
    </div>
    <div class="col-sm">
      work times
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">day</th>
            <th scope="col">time</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mondey</td>
            <td>08.00 - 17.00</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Vtornik</td>
            <td>08.00 - 17.00</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Sreda</td>
            <td>08.00 - 16.00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

