<html>
<head>
<link href="styles.css" rel="stylesheet" media="all" />
</head>
<body>
<h1>Hi</h1>
<p class="something">Welcom, frend.</p>
<form action="/" method="post" id="slogan" >
  <p>your name: <input type="text" name="user_name" class="something" /></p>
  <p>your phone: <input type="text" name="user_phone"/></p>
  <p>date time: <input type="text" name="date_time"/></p>

  <p><input type="submit"></p>
</form>
</body>
</html>

