<h1>Welcom to barber shop!</h1>
<p>We are open</p>

<form action="/" method="POST">
  <p>Your name: <input type="text" name="user_name" /></p>
  <p>Your phone: <input type="text" name="user_phone" /></p>
  <p>Date and time: <input type="text" name="date_time" /></p>
  
  <p><input type="submit"/></p>
</form>
