<h2>Visit:</h2>
<% if @is_message -%>
  <%= "<p>#{@message}</p>" %>
<% end -%>
<form action="/visit" method="POST">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" placeholder="Name" name="client_name">
  </div>
  <div class="form-group">
    <label>Phone</label>
    <input type="text" class="form-control" placeholder="+7 (***) ***-**-**" name="client_phone">
  </div>
  <div class="form-group">
    <label">Date - time</label>
    <input type="text" class="form-control" placeholder="Date - Time" name="date_time">
  </div>
  <div class="form-group">
    <label>Stylist</label>
    <select type="text" name="stylist" class="form-control" id="exampleFormControlSelect1">
      <% @hh[ :stylists ].each do |k,v| %>
        <%= "<option>Name: #{v[ :stylist_name ]}, phone: #{v[ :stylist_phone ]}</option>" %>
      <% end %>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Visit</button>
</form>
